{% extends 'static.html' %}

{% block title %}Forex Converter{% endblock %}

{% block content %}

<h1>CURRENCY CONVERTER</h1>

  <form action="/currencyConversion" method="POST">
    <label for="initialCurrency">Converting from: </label>
    <input type="text" name="from">
    <br>
    <label for="finalCurrency">Converting to: </label>
    <input type="text" name="to">
    <br>
    <label for="conversionAmount">Amount: </label>
    <input type="text" name="amount">
    <br>
    <button>Convert</button>
  </form>

  {% endblock %}